<html>
  <head>
    <title>Rock ON</title>
    <link rel="stylesheet" href="/main.css" title="CSS" type="text/css" />
  </head>
  <body>
    <div class = "flex-container">
      <h1 class="rock-header">ROCK!</h1>
    </div>
    <div class = "flex-container">
      <p>THE UNIVERSAL LANGUAGE OF LIFE.</p>
    </div>
    <div class = "flex-container">
      <img src="images/rock.jpg" alt="A low angle shot of a rockstar and his guitar onstage
      with his mouth open in excitment" style="width:500px;height:250px;">
    </div>
  </body>
</html>
